body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background: #0b0b0b;
  align-items: center;
}
.spotify-logo {
  width: 32px;
  margin-right: 15px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left input {
  background: #242424;
  border: none;
  padding: 10px 16px;
  border-radius: 30px;
  color: white;
  width: 320px;
}
.nav-right span {
  margin: 0 10px;
  font-size: 14px;
  color: #ccc;
}

.login-btn {
  background: white;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 600;
}


.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 16px;
}
.sidebar {
  background: #121212;
  padding: 16px;
  border-radius: 10px;
}

.create-btn {
  background: #242424;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
}

.side-card {
  background: #1a1a1a;
  padding: 16px;
  border-radius: 10px;
  margin-top: 15px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px;
  margin-bottom: 30px;
}

.song-card {
  background: #181818;
  padding: 14px;
  border-radius: 10px;
  transition: 0.3s;
}

.song-card:hover {
  background: #282828;
}

.song-card img {
  width: 100%;
  border-radius: 6px;
}

.artist-row {
  display: flex;
  gap: 25px;
}

.artist-card {
  text-align: center;
}

.artist-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.bottom-banner {
  background: linear-gradient(to right, #af2896, #509bf5);
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
}
